$hColor: #00008b;
$blockColor: #5A7883;
$backGrColor: #e5e5e5;
$backGroundBlock: #ffffff;
$mainHC: #555555;
$navLinkColor: #ff4500;
$linkColor: #ffffff;
$dateColor: #c0c0c0;
$borderColor:  #c0c0c0;
$fontFam: 'Palatino Linotype', 'Book Antiqua', 'Palatino', serif;
$textFontSize: 18px;
$headFontSize: 26px;
$BGImage: url(.././img/header_background_v2.jpg);

