$hColor: #1697a6;
$blockColor: #1697a6;
$backGrColor: #ffffff;
$backGroundBlock: #d3d3d3;
$linkColor: #ffffff;
$mainHC: #000000;
$navLinkColor: #ffffff;
$dateColor: #FF0000;
$borderColor: #000000;
$fontFam: 'Roboto', 'Ubuntu', 'Cantarell', 'Helvetica',sans-serif;
$textFontSize: 15px;
$headFontSize: 24px;
$BGImage: url(.././img/header_background_v1.jpg);
